.layer {
  position: relative;
  /* display: none; */
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.white-grid,
.black-grid {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

body {
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 13px;
  row-gap: 11px;
  padding: 16px;
}

button {
  cursor: pointer;
  /* opacity: 0; */
  width: 53px;
  height: 50px;
  border-radius: 50%;
}

.red {
  background-color: red;
}
